<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<main>


    <div class="container py-4">
        {% block header %}
            <header class="pb-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                    <span class="fs-4">Directorio de alumnos en el CCM</span>
                </a>
                {% if is_granted('ROLE_ADMIN') %}

                    <div class="d-flex flex-row-reverse bd-highlight">

                        <nav class="d-inline-flex ms-md-auto">
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="dropdown">
                                    <a class="btn btn-dark dropdown-toggle" href="" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-user-alt"></i>
                                        {{ app.user.username ?? 'Anonymous user' }}
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item " href="{{ path('logout') }}"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
                                    </ul>
                                </div>
                            {% else %}
                                <a class="me-3 py-2 text-dark text-decoration-none" href="{{ path('app_login') }}">Iniciar sesión</a>
                            {% endif %}
                        </nav>


                    </div>

                {% else %}


                {% endif %}
            </header>

        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
            <footer class="pt-3 mt-4 text-muted border-top">
                Centro de Ciencias Matemáticas, UNAM
            </footer>
        {% endblock %}

    </div>
</main>

</body>

</html>
